/* .container{
   
    background-image:url('pictures/missionSection6.png');
    background-repeat:no-repeat;
    background-size:contain; /* need to comment out for background picture*/
   /* background-position:center;
    height: 200px;
    box-shadow: 0 0 8px 8px #B9DFC6 inset;
} */

/* .blog{
    height: 100%;
    background-color: #B9DFC6;
} */

/* .XqbgT {
    max-width: 1280px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 5rem;
    padding-bottom: 5rem;
} */

/* ======== Mission Text color and font size START========*/
.container h1{
font-size: xx-large;
font-weight: 300;
color: #00918A;
}
.container p{
font-size: larger;
font-weight: 300;
color: #000000;
}

.container h6{
font-style: italic;
font-size: x-large;
font-weight: 300;
color: #00918A;
}
/* ======== Mission Text color and font size END========*/
/* ======== Hero Video Background CSS Start======== */
body{
    margin: 0;
    padding: 0;
}

.banner{
    width: 100%;
    height: 100vw;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner video{
    position: relative;
    /* top: 10px; */
    left: 0;
    object-fit: cover;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

/* .banner .container {
    position: relative;
    z-index: 1;
    max-width: 1000px;
    margin: 0 auto;
    text-align: center;
} */

.container{
    /* position: absolute; */
    position: fixed;
    top: 50%;
    left: 50%;
    /* bottom: 20%; */
    transform: translate(-50%, -50%);
}
/* ======== Hero Video Background CSS End ========= */
/* ======== Blog Section with Posts Start ========= */

/* .blog{
    position: absolute;
} */
.blog-section{
    position: relative;
    padding: 5rem;
    background-color: #B9DFC6;
}
.blog-post h1{
    padding-bottom: 1rem;
    font-size: xx-large;
    font-style: italic;
}
.blog-post li{
    font-weight: 600;
}
.blog-post p{
    padding-bottom: 0.5rem;
}

/* NavBar with color background */
/* .polar-top-section{
height: 100%;
background-color: #A0D6D3;
} */

/* .logo {
    padding-top: 15px;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    height: 140px;
} */