.section{
    background-image: url('pictures/contactUsBG.jpg');
	background-size: cover;
	background-position: cover;
    height: 100vh;
}
.section-center{
    position: absolute;
	top: 60%;
	left: 0;
	right: 0;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
}
.container{
    display: flex;
	flex-direction: column;
	align-items: center;
	color: black;
    background: rgba(0, 0, 0, 0.25);
}
.field{
	display: flex;
	flex-direction: column;
	width: 40vw;
	padding: 1rem;
}
h1 {
	font-size: 58px;
	/* text-transform: uppercase; */
	font-weight: 700;
	color: #00918A;
	margin-top: 4rem;
}
#sendmsg{
    margin-top: 5rem;
}
/* .section{
    background: url('pictures/contactUsBG.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100vh;
} */
/* .section::before {
	content: '';
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	top: 0;
	background: rgba(0, 0, 0, 0.6);
} */

