/* *{ outline: .1px solid #ff0000 !important; } */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* =======RESET Ends============ */
/* ================ Begin my CSS ============ */
.polar-top-section{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #A0D6D3;
	
}
.logo {
  max-width: 500px;
  padding: 5px;
   
}
.navbar{
  /* background-color: #A0D6D3; */
}

.text-timer-book-now-gif, .title-testimonial{
  position: relative;
  text-align: center;
  padding: 1rem;
}

/* crop wave gif image */
.text-timer-book-now-gif img{
  width: 30vw !important; 
  height: 80%;
  object-fit: cover;
}
/* text outline and position */
.text-timer-book-now-gif h2{
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* color: #FFFFFF; */

  color: black;
  -webkit-text-fill-color: #00918A; /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 0.8px;
  -webkit-text-stroke-color: black;

  font-size:x-large;
  font-weight: 600;
  background-color: rgba(255, 255, 255, 0.25);
}

.timer-button{
  font-size: 1.8rem;
  position: absolute;
  /* top: 380px;
  left: 150px;  */

  /* position: fixed; */
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);

  padding: 5px;
  background-color: rgba(255, 255, 255, 0.25);
  border-radius: 5%;
}
.hero-pic1{
	max-width: 100%;
	height: auto;
}
.three-pictures{
	display: flex;
	flex-direction: column;
  align-items: center;
  padding: 1rem;
}

.three-pictures h2, h3{
  font-size: xx-large;
  font-weight: 600;
  color: #00918A;
}

.timer-pictures-section{
	display: flex;
  justify-content: space-around;
  /* flex-direction: column; */
}


/* ======My CSS Ends========== */

/* ======Top NavBar Responsive Start========= */
/* .topnav {
  overflow: hidden;
  background-color: #333;
}

.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #4CAF50;
  color: white;
}


.topnav .icon {
  display: none;
}

@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
} */
/* ======Top NavBar Responsive End========= */


/* =========== w3 school Auto Slider 3-Pictures START ========== */
.mySlides1 {display: none;}

img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container1 {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot1 { 
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}
  
.active1 {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 4.9s;
  animation-name: fade;
  animation-duration: 4.9s;
}

@-webkit-keyframes fade {
  from {opacity: .2} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .2} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .text {font-size: 11px}
}
/* =========== w3 school Auto Slider 3-Pictures END ========== */

/* =========== w3 school testimonial slider START=========== */
/* Slideshow container */
.slideshow-container {
	position: relative;
	/* background: #f1f1f1f1; */
  background: #f1f1f196;
  }
  
  /* Slides */
  .mySlides {
	display: none;
	padding: 80px;
	text-align: center;
  }
  .stars{
	 max-width: 100px;
  }
  .icon-google {
    max-width: 80px;
  }
  .stars-quote{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #avatar-author-override{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin-bottom: 0;
  }
  
  /* Next & previous buttons */
  .prev, .next {
	cursor: pointer;
	position: absolute;
	top: 50%;
	width: auto;
	margin-top: -30px;
	padding: 16px;
	color: #888;
	font-weight: bold;
	font-size: 20px;
	border-radius: 0 3px 3px 0;
	user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
	position: absolute;
	right: 0;
	border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover, .next:hover {
	background-color: rgba(0,0,0,0.8);
	color: white;
  }
  
  /* The dot/bullet/indicator container */
  .dot-container {
	  text-align: center;
	  padding: 20px;
	  background: #ddd;
  }
  
  /* The dots/bullets/indicators */
  .dot {
	cursor: pointer;
	height: 15px;
	width: 15px;
	margin: 0 2px;
	background-color: #bbb;
	border-radius: 50%;
	display: inline-block;
	transition: background-color 0.6s ease;
  }
  
  /* Add a background color to the active dot/circle */
  .active, .dot:hover {
	background-color: #717171;
  }
  
  /* Add an italic font style to all quotes */
  q {font-style: italic;}
  
  /* Add a blue color to the author */
  .author {color: cornflowerblue;}
  /* =========== w3 school testimonial slider END=========== */